@{
    ViewData["Title"] = "Home Page";
}

<!--Navigation Bar and Main Banner Section -->
<div class="main-banner" id="main-banner">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="nav-item navbar-title" href="#main-banner">
                <img id="banner-logo" href="#main-banner" />
            </a>
            <div class="bar-icon-container navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
                <div class="bar1 bar-icon"></div>
                <div class="bar2 bar-icon"></div>
                <div class="bar3 bar-icon"></div>
            </div>
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-grow-2 float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-us">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#rates">RATES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#box-sizes">BOX SIZES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#how-to-order">ORDER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pick-up">PICK-UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#banned-items">BANNED ITEMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#follow-up">FOLLOW-UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#account-info">ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feedback">FEEDBACKS</a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tracker">TRACK BOX</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidenav" id="mySidenav">
            <ul class="nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-us">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rates">RATES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#box-sizes">BOX SIZES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#how-to-order">HOW TO ORDER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pick-up">PICK-UP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#banned-items">BANNED ITEMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#follow-up">FOLLOW-UP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#account-info">ACCOUNT-INFO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#feedback">FEEDBACKS</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="container main-text-container" style="display: none;">
        <div class="main-text">
            <h3>DOOR TO DOOR DELIVERY SERVICE</h3>
            <p class="slideAnimMainText"><span>BAYANIHAN</span> CARGO</p>
            <a href="#how-to-order" class="primary-btn">Get a box Now! <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<!-- About Us Section -->
<div id="about-us" class="section-container">
    <div class="about-us-section container">

        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/eQJr14UlZus" title="BAYANIHAN CARGO DOOR TO DOOR SERVICE JAPAN TO PHILIPPINES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; autoplay"
                allowfullscreen></iframe>

        <br> <br />
        <br> <br />
        <h1 class="section-title">ABOUT <a class="sub-text">US</a></h1>
        <p class="section-subtitle">Bayanihan Cargo is a door to door delivery services</p>
        <p class="section-subtitle">owned by <strong>M.A. INTERNATIONAL CO. LTD.</strong></p>



        <br> <br />
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 class="primary-text slideAnimUp">BAYANIHAN <a class="sub-text">CARGO</a></h1>
                <h4 class="secondary-text slideAnimUp">DOOR TO DOOR DELIVERY SERVICES</h4>
                <p>
                    Ang Bayanihan Cargo Door to door Services ay isa <br />
                    sa malaking Cargo Company sa bansang Japan<br />
                    sa loob na ng dalawang (2) dekada.
                    <br />
                    <br />
                </p>
                <!--<a href="#product-info" class="primary-btn-inv">SEE PRODUCT INFO  <i class="fas fa-arrow-right"></i></a>-->
                <br /> <br />
            </div>
            <div class="col-sm-12 col-md-6">
                <i class="far fa-eye about-us-icon-sm vision-icon-sm d-block d-md-none slideAnimUp"> </i>
                <h3 class="secondary-text  slideAnimRight vision"><i class="far fa-eye about-us-icon"></i> VISION</h3>
                <p class="text-description  slideAnimRight">
                    Ang aming “Vision” mula noon hanggang ngayon ay ang matugunan ang mga
                    pangangailangan ng mga kababayang Pilipino
                    sa  mabilis, mapagkakatiwalaan at matapat na serbisyo.
                </p>

                <i class="fas fa-bullseye about-us-icon-sm mission-icon-sm d-block d-md-none slideAnimUp"> </i>
                <h3 class="secondary-text  slideAnimRight mission"><i class="fas fa-bullseye about-us-icon"></i> MISSION</h3>
                <p class="text-description  slideAnimRight">
                    Ang kasiyahan ng bawat customer ang aming pangunahing layunin. Nais namin na magkaroon
                    ng “Customer Satisfaction”ang bawat isa kaya  handa kaming tumulong at gumabay
                    hanggang sa makarating ang mga pinaghirapang  bagahe sa mga mahal sa buhay
                    sa ating sariling bansang Pilipinas.
                </p>
            </div>
        </div>
        <br />
    </div>
</div>

<!-- Contact Us Section-->
<div id="contact-us" class="bg-grey">
    <div class="container section-container">
        <div class="contact-section">
            <h1 class="section-title">CONTACT <a class="sub-text">US</a></h1>
            <!--<p class="section-subtitle">insert some text here</p>
                <p class="section-subtitle">insert some sencond line of text here</p>-->
            <br />
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <p class="contact-description">
                        Maari mo kaming makontak sa pamamagitan ng mga sumusunod :
                    </p>
                    <address class="">
                        <i class="bi bi-envelope-open-fill"></i> <strong>Url : </strong><a href="https://www.bayanihan-cargo.com/">www.bayanihan-cargo.com</a>
                        <br />
                        <br />
                        <i class="bi bi-envelope-open-fill"></i> <strong> Email Address : </strong> bayanihan2000cargo@gmail.com <br /> <br />
                        <i class="fas fa-phone"></i> <strong> Japan Contact nos. : </strong> <br />
                        <ul class="phone-number">
                            <li>045-540-6019</li>
                            <li>080-3272-9452</li>
                            <li>080-8096-3009</li>
                            <li>090-1425-8329</li>
                        </ul>
                        <br />
                        <i class="bi bi-phone-fill"></i> <strong>Viber : </strong> 080-3272-9452 | 090-1425-8329<br /> <br />
                        <i class="fas fa-phone"></i> <strong> Philippines Warehouse Contact nos. : </strong> <br />
                        <ul class="phone-number">
                            <li>0961-113-1949</li>
                            <li>0917-156-7821</li>
                        </ul>
                    </address>
                    <p style="background-color: forestgreen;text-align:center;color:white;font-size:18px"><strong>"TUMATANGGAP KAMI NG MGA GUSTONG MAGING AGENTS"</strong></p>


                    <a href="https://www.facebook.com/Bayanihan-Cargo-107782737473093" target="_blank" class="footer-icon fa fa-facebook"></a>
                    <a href="https://www.instagram.com/bayanihan.cargo.5/" target="_blank" class="footer-icon fa fa-instagram"></a>
                </div>
                <div class="offset-xl-2 col-lg-4 clearfix">
                    @*<img class="contact-image" src="~/img/conveyor.png">*@
                    <strong> JAPAN WAREHOUSE ADDRESS: </strong><br />
                    143-0001 <br />
                    Tokyo to Ota ku <br />
                    Tokai 5-1-1 <br />
                    Oikawa Uwaya 1 <br />
                    Kokusai Express <br />
                    <br />
                    <strong> JAPAN OFFICE ADDRESS: </strong> <br />
                    222-0037 <br />
                    Kanagawa Ken <br />
                    Yokohama Shi <br />
                    Kohoku Ku <br />
                    Okurayama 7-1-6-201 <br />
                    <br />
                    <strong>PHIL WAREHOUSE ADDRESS: </strong><br />

                    3031 F. Bautista St. <br />
                    Ugong, Valenzuela City <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rates" class="section-container">
    <div class="container">
        <div class="process-section ">
            <h1 class="section-title-left">RATES</h1>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <img class="" src="~/img/Group 1.png" />

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <img class="" src="~/img/Group 2.png" />

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <img class="" src="~/img/Group 3.png" />

                </div>
            </div>

            @*<p class="section-subtitle-left">
                    Rates ayon sa “Prefecture” or area sa Japan at ang mga lugar na pagpapadalhan sa Pilipinas<br>
                </p>
                <br />
                <div class="article">
                    <h5 class="article-title group-num-1" >Group 1</h5>
                    <p class="article-contents">Chiba, Ibaraki, Kanagawa, Saitama, Tokyo, Tochigi, Aichi, Gifu, Gunma, Shizuoka</p>
                </div>
                <div class="article">
                    <h5 class="article-title group-num-2"  >Group 2</h5>
                    <p class="article-contents">Akita, Aomori, Fukui, Fukushima, Hiroshima, Hyogo, Ishikawa, Iwate, Kagawa, Kouchi, Kyoto, Mie, Miyagi, Nagano, Nara, Niigata, Okayama, Osaka, Shiga, Shimane, Tokushima, Tottori, Toyama, Wakayama, Yamagata, Tamaguchi, Yamanashi</p>
                </div>
                <div class="article">
                    <h5 class="article-title group-num-3">Group 3</h5>
                    <p class="article-contents">Fukuoka, Hokkaido, Kagoshima, Kumamoto, Miyazaki, Nagasaki, Oita, Saga</p>
                </div>*@
            @*<div style="overflow-x:auto;">
                    <table class="text-left">
                        <tr>
                            <th style="width: 40%; min-width: 250px;">Destination</th>
                            <th style="width: 15%; min-width: 120px;"">Jumbo Box</th>
                            <th style="width: 15%; min-width: 120px;">Twin<br />Half Box</th>
                            <th style="width: 15%; min-width: 120px;">Single<br />Half Box</th>
                            <th style="width: 15%; min-width: 120px;">
                                Arrival
                                <br />
                                <span class="th-span">(Estimate)</span>
                                <br />
                                <span class="th-span">(from pick-up date)</span>
                            </th>
                        </tr>
                        <tr>
                            <td>Metro Manila</td>
                            <td>
                                <span class="group-num-1">①</span> ¥10,000<br />
                                <span class="group-num-2" >②</span> ¥11,000<br />
                                <span class="group-num-3">③</span> ¥12,000<br />
                            </td>
                            <td>
                                <span class="group-num-1">①</span> ¥10,500<br />
                                <span class="group-num-2">②</span> ¥11,500<br />
                                <span class="group-num-3">③</span> ¥12,500<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥7,000<br />
                                <span class="group-num-2" >②</span> ¥7,500<br />
                                <span class="group-num-3">③</span> ¥7,800<br />
                            </td>
                            <td>3 to 4 Weeks</td>
                        </tr>
                        <tr>
                            <td>
                                Bulacan, Cavite, Rizal
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥10,500<br />
                                <span class="group-num-2" >②</span> ¥11,500<br />
                                <span class="group-num-3">③</span> ¥12,500<br />
                            </td>
                            <td>
                                <span class="group-num-1">①</span> ¥11,500<br />
                                <span class="group-num-2" >②</span> ¥12,500<br />
                                <span class="group-num-3">③</span> ¥13,500<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥8,000<br />
                                <span class="group-num-2" >②</span> ¥8,500<br />
                                <span class="group-num-3">③</span> ¥9,000<br />
                            </td>
                            <td>3 to 4 Weeks</td>
                        </tr>
                        <tr>
                            <td>
                                Bataan, Batangas, Laguna, Nueva Ecija, Pampanga, Pangasinan, Tarlac, Zambales
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥11,800<br />
                                <span class="group-num-2" >②</span> ¥12,500<br />
                                <span class="group-num-3">③</span> ¥13,500<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥12,300<br />
                                <span class="group-num-2" >②</span> ¥13,000<br />
                                <span class="group-num-3">③</span> ¥14,000<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥9,000<br />
                                <span class="group-num-2" >②</span> ¥9,500<br />
                                <span class="group-num-3">③</span> ¥10,000<br />
                            </td>
                            <td>4 to 5 Weeks</td>
                        </tr>
                        <tr>
                            <td>
                                Baguio, Bicol, Cagayan Valley, Ilocos Region, Isabela, La Union, Nueva Vizcaya, Quezon Province
                            </td>
                            <td>
                                <span class="group-num-1">①</span> ¥12,500<br />
                                <span class="group-num-2" >②</span> ¥12,800<br />
                                <span class="group-num-3">③</span> ¥13,800<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥13,000<br />
                                <span class="group-num-2" >②</span> ¥13,300<br />
                                <span class="group-num-3">③</span> ¥14,300<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥9,300<br />
                                <span class="group-num-2" >②</span> ¥9,800<br />
                                <span class="group-num-3">③</span> ¥10,000<br />
                            </td>
                            <td>4 to 5 Weeks</td>
                        </tr>
                        <tr>
                            <td>
                                Visayas<br />
                                Bohol, Cebu, Negros, Panay (Aklan, Antique, Capiz,IloIlo)
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥13,000<br />
                                <span class="group-num-2" >②</span> ¥13,500<br />
                                <span class="group-num-3">③</span> ¥13,800<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥13,300<br />
                                <span class="group-num-2" >②</span> ¥13,800<br />
                                <span class="group-num-3">③</span> ¥14,000<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥9,800<br />
                                <span class="group-num-2" >②</span> ¥10,000<br />
                                <span class="group-num-3">③</span> ¥10,300<br />
                            </td>
                            <td>6 to 7 Weeks</td>
                        </tr>
                        <tr>
                            <td>
                                Mindanao<br />
                                Agusan, Bukidnon, Butuan, Cagayan de Oro, Compostella, Cotabato, Davao Region, Gen. Santos, Lanao, Misamis, Zamboanga
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥13,500<br />
                                <span class="group-num-2" >②</span> ¥13,800<br />
                                <span class="group-num-3">③</span> ¥14,000<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥13,800<br />
                                <span class="group-num-2" >②</span> ¥14,500<br />
                                <span class="group-num-3">③</span> ¥14,800<br />
                            </td>
                            <td>
                                <span class="group-num-1" >①</span> ¥10,000<br />
                                <span class="group-num-2" >②</span> ¥10,300<br />
                                <span class="group-num-3">③</span> ¥10,500<br />
                            </td>
                            <td>6 to 7 Weeks</td>
                        </tr>
                        <tr>
                            <td>
                                Hard Port Area/Inter-Island<br />
                                Aurora Province, Camiguin, Catanduanes, Samar, Leyte, Kalinga-Apayao, Marinduque, Masbate, Mindoro, Mt. Province, Romblon, Siquijor
                            </td>
                            <td>
                                <span class="group-num-1">①</span> ¥13,800<br />
                                <span class="group-num-2">②</span> ¥14,000<br />
                                <span class="group-num-3">③</span> ¥14,300<br />
                            </td>
                            <td>
                                <span class="group-num-1">①</span> ¥14,000<br />
                                <span class="group-num-2">②</span> ¥14,300<br />
                                <span class="group-num-3">③</span> ¥14,500<br />
                            </td>
                            <td>
                                <span class="group-num-1">①</span> ¥10,300<br />
                                <span class="group-num-2">②</span> ¥10,500<br />
                                <span class="group-num-3">③</span> ¥10,800<br />
                            </td>
                            <td>7 to 8 Weeks</td>
                        </tr>
                    </table>
                </div>*@
        </div>
    </div>
</div>

<!-- Our Product Section -->
<div id="box-sizes">
    <div class="section-container">
        <div class="product-section container">
            <h1 class="section-title-left">BOX <a class="sub-text">SIZES</a> </h1>
            <p class="section-subtitle-left">
                Makikita sa pahinang ito ang mga sukat ng mga boxes<br>
                at ang akwal na larawan ng mga ito.
            </p>
            <br>
            <div class="row">
                <div class="col-md-4 product">
                    <div class="card">
                        <div class="card-title card-img1">
                        </div>
                        <div class="card-body">
                            <h4> <span class="sub-text">Jumbo</span> Box</h4>
                            <p class="card-text"><strong>Price starts at <span class="group-num-1">¥10,000</span></strong></p>
                            <p class="card-text"> <strong>Sukat: 73cm x 55cm x 63cm</strong></p>
                            @*<a id="actual-photo-01" data-toggle="modal" data-target="#modal01" class="btn btn-primary">Tingnan ang larawan <i class="bi bi-arrow-right"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product">
                    <div class="card ">
                        <div class="card-title card-img2">
                        </div>
                        <div class="card-body">
                            <h4><span class="sub-text">Single</span> Half Box</h4>
                            <p class="card-text"><strong>Price starts at <span class="group-num-3">¥7,000</span></strong></p>
                            <p class="card-text"><strong>Sukat: 37cm x 55cm x 63cm</strong></p>
                            @*<a id="actual-photo-02" data-toggle="modal" data-target="#modal02" class="btn btn-primary">Tingnan ang larawan <i class="bi bi-arrow-right"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product">
                    <div class="card">
                        <div class="card-title card-img3">
                        </div>
                        <div class="card-body">
                            <h4><span class="sub-text">Twin</span> Half Box</h4>
                            <p class="card-text"><strong>Price starts at <span class="group-num-2">¥10,500</span></strong></p>
                            <p class="card-text"><strong>Sukat: 37cm x 55cm x 63cm (2pc)</strong></p>
                            @*<a id="actual-photo-03" data-toggle="modal" data-target="#modal03" class="btn btn-primary">Tingnan ang larawan <i class="bi bi-arrow-right"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<!-- Our Process Section -->
<div id="how-to-order" class="bg-grey section-container">
    <div class="container">
        <div class="process-section ">
            <h1 class="section-title">HOW TO <a class="sub-text">ORDER</a></h1>
            <p class="section-subtitle">Paaraan ng pag Order</p>
            <p class="section-subtitle">I-message lamang kami sa aming contact details</p>
            <br> <br>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="step-slot shadow popAnim">
                        <div class="step-header noselect">
                            <h1>1</h1>
                            <div class="tear">
                                <i class="fas fa-comment-dots"></i>
                            </div>
                            <img src="/img/open-box-1.png">
                        </div>
                        <div class="step-body">
                            <h5 class="step-title-right">Personal Info</h5>
                            <p>Ibigay ang Personal Info dito sa Japan( complete name, contact number at address kasama ang postal code).</p>
                        </div>
                    </div>
                </div>
                <!--  dfsdfs-->
                <div class="col-lg-3 col-md-6">
                    <div class="step-slot shadow popAnim">
                        <div class="step-header noselect d-lg-none d-xl-none">
                            <h1>2</h1>
                            <div class="tear">
                                <i class="fas fa-clock"></i>
                            </div>
                            <img src="/img/open-box-1.png">
                        </div>
                        <div class="step-body">
                            <h5 class="step-title-left">Delivery Time</h5>
                            <br />
                            <p>Sabihin kung ano ang nais na size ng box, petsa at oras ng delivery.</p>
                        </div>
                        <div class="step-header noselect d-none d-lg-block d-xl-block">
                            <h1>2</h1>
                            <div class="tear">
                                <i class="fas fa-clock"></i>
                            </div>
                            <img src="/img/open-box-1.png">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="step-slot shadow popAnim">
                        <div class="step-header noselect">
                            <h1>3</h1>
                            <div class="tear">
                                <i class="fas fa-money-bill-wave"></i>
                            </div>
                            <img src="/img/open-box-1.png">
                        </div>
                        <div class="step-body">
                            <h5 class="step-title-right">Payment</h5>
                            <p>Sabihin agad sa aming mga operators or staff kung nais na bayaran ng CASH o Deposit lang muna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="step-slot shadow popAnim">
                        <div class="step-header noselect d-lg-none d-xl-none">
                            <h1>4</h1>
                            <div class="tear">
                                <i class="fas fa-calendar-check"></i>
                            </div>
                            <img src="/img/open-box-1.png">
                        </div>
                        <div class="step-body">
                            <h5 class="step-title-left">Confirmation</h5>
                            <p>Hintayin lamang ang “Order Confirmation” na manggagaling sa aming mga Operators. </p>
                        </div>
                        <div class="step-header noselect d-none d-lg-block d-xl-block">
                            <h1>4</h1>
                            <div class="tear">
                                <i class="fas fa-calendar-check"></i>
                            </div>
                            <img src="/img/open-box-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PICK UP-->
<div id="pick-up" class="section-container">
    <div class="container">
        <div class="pick-up-section ">
            <h1 class="section-title-left">PICK <a class="sub-text">UP</a> </h1>
            <p class="section-subtitle-left">Paraan ng pagpapa-pick-up ng bagahe:</p>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="pick-up-col shadow">
                        <i class="fas fa-truck-moving pick-up-icon"></i>
                        <h3 class="pick-up-title"><img src="~/img/Icon.png" />PRIVATE</h3>
                        <div class="pick-up-text">
                            <strong>No Weight Limit</strong> <br />
                            JUMBO BOXES<br />
                            (twin/half box with jumbo box)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pick-up-col shadow">
                        <i class="fas fa-truck-moving pick-up-icon"></i>
                        <h3 class="pick-up-title"><img src="~/img/Icon.png" />SAGAWA</h3>
                        <div class="pick-up-text">
                            <strong>50kg Weight Limit</strong> <br />
                            JUMBO BOXES <br />
                            HALF BOXES<br />
                            TWIN BOXES
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="article">
                <h5 class="article-title">Prefecture para sa private pick-up:</h5>
                <p class="article-contents">Chiba, Ibaraki, Kanagawa, Saitama, Tokyo, Tochigi, Aichi, Gifu, Gunma, Shizuoka </p>
            </div>
            <div class="article">
                <h5 class="article-title"> Prefecture para sa sagawa pick-up:</h5>
                <p class="article-contents">
                    Akita, Aomori, Ehime, Fukui, Fukushima, Hiroshima, Hyogo, Ishikawa, Iwate, Kagawa,
                    Kouchi, Kyoto, Mie, Miyagi, Nagano, Nara, Okayama, Osaka, Shiga, Shimane, Tokushima,
                    Tottori, Toyama, Wakayama, Yamagata, Yamaguchi, Yamanashi, Fukuoka, Hokkaido, Kagoshima,
                    Kumamoto, Miyazaki, Nagasaki, Oita, Saga
                </p>
            </div>
            <br />
            <h3 class="section-title-left">PARAAN NG PAG <a class="sub-text">PICK-UP</a></h3>
            <br />
            <div class="pick-up-instruction">
                <h1>1</h1>
                <p>Sulatan ang Packing List sa mga hinihinging impormasyon. Isulat ang mga items at mga presyo. Iwasang magbura upang madaling basahin ang mga nakasulat.  </p>
            </div>
            <div class="pick-up-instruction">
                <h1>2</h1>
                <p>Picturan at i-send sa aming FB Page at hintayin na ma-review o ma-check ng aming mga Operators.</p>
            </div>
            <div class="pick-up-instruction">
                <h1>3</h1>
                <p>Hintayin ang “Pick –up Confirmation”na manggagaling sa aming mga Operators. </p>
            </div>
        </div>
    </div>
</div>


<div id="banned-items" class="section-container bg-grey">
    <div class="container">
        <h1 class="section-title">BANNED <a class="sub-text">ITEMS</a> </h1>
        <p class="section-subtitle">Mga ipinagbabawal na ipadala sa bagahe</p>
        <div class="banned-items-container">

            <div class="banned-items">
                <p>1. MOTORSIKLO at MGA PARTS nito. </p>
            </div>
            <div class="banned-items">
                <p>2. SASAKYAN at MGA PARTS nito. </p>
            </div>
            <div class="banned-items">
                <p>3. FLAMMABLE MATERIALS </p>
            </div>
            <div class="banned-items">
                <p>4. BARIL AT LARUANG BARIL </p>
            </div>
            <div class="banned-items">
                <p>5. DROGA </p>
            </div>
            <div class="banned-items">
                <p>6. OTHERS - Itanong sa aming mga operators/staff ang iba pang kasama sa banned items</p>
            </div>

        </div>
    </div>
</div>

<div id="follow-up">
    <div class="section-container">
        <div class="container">
            <h1 class="section-title-left">FOLLOW-<a class="sub-text">UP </a></h1>
            <p class="section-subtitle-left">Paraan ng pag follow-up ng bagahe.</p>
            <br />
            <div class="follow-up-instruction">
                <h1>1</h1>
                <div class="follow-up-num d-none d-sm-block">
                    <i class="fas fa-phone-volume"></i>
                </div>
                <p>Tumawag or mag message para sa update.  </p>
            </div>
            <div class="follow-up-instruction">
                <h1>2</h1>
                <div class="follow-up-num d-none d-sm-block">
                    <i class="fas fa-clipboard"></i>
                </div>
                <p>Ibigay ang complete name at contact no. na ginamit or isinulat  sa packing list. </p>
            </div>
            <div class="follow-up-instruction">
                <h1>3</h1>
                <div class="follow-up-num d-none d-sm-block">
                    <i class="fas fa-envelope-open-text"></i>
                </div>
                <p>Hintayin ang sagot or reply sa messenger mula sa mga operator  </p>
            </div>
        </div>
    </div>
</div>

<div id="account-info" class="section-container">
    <div class="container">
        <div class="process-section ">
            <h1 class="section-title-left">ACCOUNT <a class="sub-text">INFO</a></h1>
            <p class="section-subtitle-left">
                <br />
                <div class="container">
                    <ul>
                        <li>
                            Japan Post Office
                            M.A. International 10230-98512271
                        </li>
                        <li>
                            Convenience Stores and other banks

                            M.A. International
                            028 - 9851227
                        </li>
                        <li>
                            Genkin Kakitome

                            Sobre  na galing sa Japan Post Office
                        </li>
                    </ul>
                </div>
            </p>
        </div>
    </div>
</div>
<!-- FAQ's Section -->
<!--<div id="faq">
    <div class="bg-grey section-container">
        <div class="container">
            <div class="faq-section ">
                <h1 class="section-title-left">FREQUENLY ASKED <a class="sub-text">QUESTION</a></h1>
                <p class="section-subtitle-left">insert some text here</p>
                <p class="section-subtitle-left">insert some sencond line of text here</p>
                <br> <br>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-1" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">Where are you located? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-2" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">What are your hours? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-3" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">Can you tell me more about your business? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-4" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">What services do you offer? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-5" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">What are the Payment Options? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-6" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">What items are not allowed in a Balikbayan Box? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-7" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">What is Bayanihan Cargo's Payment Policy? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-8" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">How to report a payment? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-9" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">What are the things I need to know before requesting pick-up? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
                <div class="faq-item slideAnimUp">
                    <div id="faq-question-id-10" class="faq-question" onclick="slideFunction(this)">
                        <p class="no-margin">When do you pick up in my area? <i class="bi bi-chevron-right float-right plus-icon"></i></p>
                    </div>
                    <div id="faq-answer-id" class="faq-answer">
                        <p>insert some sencond line of text here</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</div>-->
<!-- Customer Feedback  Section -->
<div class="bg-grey">
    <div id="feedback" class="section-container">
        <div class="container">
            <div class="testimonials-section ">
                <h1 class="section-title">CUSTOMER <a class="sub-text">FEEDBACK</a></h1>
                <p class="section-subtitle">Feedback ng aming mga customer.</p>
                <br> <br>
                <div class="slider demo">
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-1" src="~/img/feedback-1.jpg" />
                        </div>
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-2" src="~/img/feedback-2.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-2"></div>
                            <div class="card-body review-card-body">
                                <p class="card-text">3 weeks lang at super smooth ng transaction ng bayanihan cargo mababait  pa mga staff. Sa uulitin, Salute.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />- kath Reena</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-3" src="~/img/feedback-3.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-3"></div>
                            <div class="card-body review-card-body">
                                <p class="card-text">Mabilis at hindi gutay gutay ang box, Salamat po.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Gerald Paras</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-4" src="~/img/feedback-4.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-4"></div>
                            <div class="card-body review-card-body">
                                <p class="card-text">Thank you po dun sa una kong package natanggap na po nila yoroshiku po. Ang bilis po at ang babait ng staff nyo</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Fujisawa Gina</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-5" src="~/img/feedback-5.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-5"></div>
                            <div class="card-body review-card-body">

                                <p class="card-text">Mabilis po ang serbisyo nyo, Maraming salamat po, natanggap na po sa amin sa pinas ang mga pinadala ko thank you po ulit.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Cecili Kawabata</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-5" src="~/img/feedback-6.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-5"></div>
                            <div class="card-body review-card-body">

                                <p class="card-text">Mabilis po ang serbisyo nyo, Maraming salamat po, natanggap na po sa amin sa pinas ang mga pinadala ko thank you po ulit.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Cecili Kawabata</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-5" src="~/img/feedback-7.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-5"></div>
                            <div class="card-body review-card-body">

                                <p class="card-text">Mabilis po ang serbisyo nyo, Maraming salamat po, natanggap na po sa amin sa pinas ang mga pinadala ko thank you po ulit.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Cecili Kawabata</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-5" src="~/img/feedback-8.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-5"></div>
                            <div class="card-body review-card-body">

                                <p class="card-text">Mabilis po ang serbisyo nyo, Maraming salamat po, natanggap na po sa amin sa pinas ang mga pinadala ko thank you po ulit.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Cecili Kawabata</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-5" src="~/img/feedback-9.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-5"></div>
                            <div class="card-body review-card-body">

                                <p class="card-text">Mabilis po ang serbisyo nyo, Maraming salamat po, natanggap na po sa amin sa pinas ang mga pinadala ko thank you po ulit.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Cecili Kawabata</p>
                            </div>*@
                    </div>
                    <div class="card">
                        <div class="review-card-img card-img-top">
                            <img class="review-5" src="~/img/feedback-10.jpg" />
                        </div>
                        @*<div class="review-card-img card-img-top review-5"></div>
                            <div class="card-body review-card-body">

                                <p class="card-text">Mabilis po ang serbisyo nyo, Maraming salamat po, natanggap na po sa amin sa pinas ang mga pinadala ko thank you po ulit.</p>
                                <p class="card-text-emp"><img src="~/img/Icon.png" />Cecili Kawabata</p>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-grey">
  <div id="tracker" class="section-container">
    @*<div id="account-info" class="section-container">
      <div class="container">
        <div class="process-section ">
          <h1 class="section-title-left">Track your Package <u><a class="sub-text" href="http://csimember.com" target="_blank">Click Here</a></u></h1>
         
        </div>
      </div>
    </div>*@
    <iframe src="https://csimember.com" width="100%" height="1000px">
    </iframe>

  </div>
</div>











